/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   


/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

$dt-gray-dark: #282a36;  // Background

.post-content p, .post-content li {
    font-size: 14px;
    color: #404040;
//     color: Black;
    font-family: Arial;
}

.output_area pre {
    background-color: WhiteSmoke;
}

h1 {font-size: 255% !important;}
h2 {font-size: 205% !important;}
h3 {font-size: 165% !important;}
h4 {font-size: 135% !important;}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
