/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   


/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

$dt-gray-dark: #282a36;  // Background

.post-content p, .post-content li {
   font-size: 14px;
//    color: Black;
   color: #404040; // 25%
//    color: #333333; // 20%
//    color: #1a1a1a; // 5%
//    font-family: Helvetica;
    font-family: Arial;
}

.output_area pre {
    background-color: WhiteSmoke;
}

.post-title { 
    font-size: 33px;
}

// html {zoom: 100%;}



// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
