@import "minima/fastpages-styles"; 
@import "minima/fastpages-dracula-highlight"; 

.post-content p, .post-content li {
    font-size: 15px;
    color: black;
}

// Background color of output cells
.output_area pre {
    background-color: WhiteSmoke;
}

.post-link{
    font-weight: 440;
//     font-size: 20px;
}

.page-description {
  font-size: 15px !important;
}

.katex {
    font-size: 110% !important;
} 

.highlight {
    font-size: 12.5px !important;
}

h1, h2, h3, h4, h5 {
    font-weight: 440 !important;
}