// override defalt minima variables 
// width of the content area can be set as "px" or "%"
$content-width:    820px;
// $on-palm:          600px;
$on-laptop:        820px;
$on-medium:        820px;
$on-large:         820px;